@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&family=Saira+Extra+Condensed:wght@300;400&family=Shrikhand&display=swap");

html,
body {
  font-family: "Noto Sans TC", sans-serif;
  overflow-x: hidden;
}
a {
  cursor: pointer;
  display: block;
  text-decoration: none;
}

.ff {
  &--particular {
    font-family: "Shrikhand", cursive, sans-serif;
  }
  &--unusual {
    font-family: "Saira Extra Condensed", sans-serif;
  }
}

.link--hover {
  &--opacity:hover {
    cursor: pointer;
    opacity: 0.5;
  }
  &--underline {
    position: relative;
    &:after {
      content: "";
      width: 0%;
      height: 1px;
      background-color: $tertiary;
      position: absolute;
      bottom: 0;
      left: 0;
      transition: all 0.3s linear;
    }
    &:hover::after {
      width: 100%;
    }
  }
}

.icon {
  &--lg {
    font-size: 80px;
  }
}
.img {
  &--sm {
    max-width: 86px;
  }
  &--base {
    max-width: 196px;
  }
  &--circle {
    width: 132px;
    height: 132px;
  }
}
.bg {
  &--galaxy {
    background: $basic-galaxy;
    &--s {
      background: linear-gradient(to right, $basic, $basic-dark);
    }
    &--e {
      background: linear-gradient(to left, $basic, $basic-dark);
    }
  }
  &--starry {
    background: $basic-starry;
  }
  &--nebula {
    background: $basic-nebula;
  }
  &--fog {
    background: $fog;
  }
  &--cusImg {
    background-image: url('../images/carousel_background.png'),radial-gradient(rgba(48, 8, 113, 1), rgba(0, 0, 0, 1)),;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include media-breakpoint-up(lg) {
      background-size: contain;
      background-position: left
    }
  }
  &--center {
    background-position: center;
  }
  &--cover {
    background-size: cover;
  }
  &--norepeat{
    background-repeat: no-repeat;
  }
}
.letter-spacing {
  &--1 {
    letter-spacing: 1rem;
  }
  &--2 {
    letter-spacing: 2rem;
  }
  &--4 {
    letter-spacing: 4rem;
  }
}
.text-indent {
  &--downLg--2 {
    @include media-breakpoint-down(lg) {
      text-indent: 2rem;
    }
  }
  &--downLg--4 {
    @include media-breakpoint-down(lg) {
      text-indent: 4rem;
    }
  }
}

.border-bottom {
  &--dotted {
    border-bottom: 2px dotted $light;
  }
}

.border-lg-none {
  @include media-breakpoint-up(lg) {
    border: none;
  }
}

.fz {
  &--24 {
    font-size: 24px;
  }
  &--128 {
    font-size: 128px;
    line-height: 1.5;
  }
  &--lg--400 {
    @include media-breakpoint-up(lg) {
      font-size: 400px;
      line-height: 1.5;
    }
  }
  &--lg--32 {
    @include media-breakpoint-up(lg) {
      font-size: 32px;
      line-height: 1.5;
    }
  }
}

.mt--lg--136 {
  @include media-breakpoint-up(lg) {
    margin-top: 136px;
  }
}

.pt--lg--76 {
  @include media-breakpoint-up(lg) {
    padding-top: 76px;
  }
}
.border--lg--end {
  @include media-breakpoint-up(lg) {
    border-right: 1px solid $light;
  }
}
.position--initial {
  position: initial;
}
.swiperNavWrap {
  position: relative;
  padding: 0px 50px;
}

