<footer class="py-10 ps-7 ps-md-0 py-md-12">
    <div class="container">
    <nav class="navbar navbar-expand-lg">
        <div
             class="d-flex flex-column flex-lg-row align-items-start align-items-lg-center justify-content-lg-between w-100">
            <div class="ms-4 ms-lg-0 d-lg-flex flex-lg-column justify-content-lg-center h-100">
                <a class="navbar-brand link-dark link--hover--opacity m-0" href="./index.html">
                    <h1 class="fs-4 ff--particular m-0">ALPHABOX+</h1>
                </a>
                <p class="fs-6 fw-bold d-none d-lg-inline m-0">Copyright © 2023 Hexschool.</p>
            </div>
            <div class="ms-4 ms-lg-0">
                <span class="material-symbols-outlined icon--lg"> emergency </span>
            </div>
            <ul class="nav d-flex flex-column flex-lg-row">
                <li class="nav-item">
                    <a class="nav-link link-dark fw-semibold link--hover--opacity" href="#">關於我們</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-dark fw-semibold link--hover--opacity" href="#">產品資訊</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-dark fw-semibold link--hover--opacity" href="./faq.html">常見問題</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-dark fw-semibold link--hover--opacity" href="#">隱私政策</a>
                </li>
            </ul>
            <p class="fs-6 fw-bold ms-4 d-lg-none">Copyright © 2023 Hexschool.</p>
        </div>
       
    </div>
</footer>