<header class="bg-quaternary py-4 border-bottom shadow">
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <div
        class="container-fluid d-flex justify-content-between aliten-items-center"
      >
        <a
          class="navbar-brand link-light link--hover--opacity"
          href="./index.html"
        >
          <h2 class="fs-4 ff--particular m-0">ALPHABOX+</h2></a
        >
        <!-- mobile nav -->
        <div class="d-inline-flex d-lg-none">
          <button
            class="d-lg-none accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#headerMenu"
            aria-expanded="true"
            aria-controls="headerMenu"
          >
            <span class="material-symbols-outlined fs-4 text-light">
              menu
            </span>
          </button>
        </div>

        <!-- desktop nav-->
        <div class="d-none d-lg-flex">
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a
                class="nav-link link-light fw-semibold link--hover--opacity"
                href="#"
                >產品</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link link-light fw-semibold link--hover--opacity"
                href="#"
                >關於我們</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link link-light fw-semibold link--hover--opacity"
                href="#"
                >最新消息</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link link-light fw-semibold link--hover--opacity"
                href="./faq.html"
                >FAQ</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link link-light fw-semibold link--hover--opacity"
                href="#"
                >聯絡我們</a
              >
            </li>
          </ul>
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a
                class="nav-link link-light fw-semibold link--hover--opacity"
                href="#"
                >註冊</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link link-light fw-semibold link--hover--opacity"
                href="#"
                >登入</a
              >
            </li>
            <li class="nav-item">
              <button class="btn btn-light fw-semibold link--hover--opacity">
                <div class="d-flex align-items-center">
                  <span class="material-symbols-outlined">add</span>
                  <span>訂閱</span>
                </div>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
<!-- mobile -->
<div
  id="headerMenu"
  class="accordion-collapse collapse d-lg-none"
  aria-labelledby="headingOne"
  data-bs-parent="#headerMenu"
>
  <div class="accordion-body bg--galaxy">
    <div class="container-fluid pb-6 pb-8">
      <ul class="nav d-flex flex-column align-items-center">
        <li class="nav-item">
          <a
            class="nav-link link-light fw-semibold link--hover--opacity"
            href="#"
            >產品</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link link-light fw-semibold link--hover--opacity"
            href="#"
            >關於我們</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link link-light fw-semibold link--hover--opacity"
            href="#"
            >最新消息</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link link-light fw-semibold link--hover--opacity"
            href="./faq.html"
            >FAQ</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link link-light fw-semibold link--hover--opacity"
            href="#"
            >聯絡我們</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link link-light fw-semibold link--hover--opacity"
            href="#"
            >註冊</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link link-light fw-semibold link--hover--opacity"
            href="#"
            >登入</a
          >
        </li>
        <li class="nav-item">
          <button class="btn btn-light fw-semibold link--hover--opacity">
            <div class="d-flex align-items-center">
              <span class="material-symbols-outlined">add</span>
              <span>訂閱</span>
            </div>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
