.accordion-tertiary {
  &-item,
  &-button,
  &-button:not(.collapsed) {
    background-color: transparent;
    color: $tertiary;
  }
  &-button {
    color: $tertiary;
    padding: 32px 0 40px;
    border-bottom: 2px dotted $light;
    &:focus {
      box-shadow: none;
      border-color: $light;
    }
    &::after {
      content: none;
    }
    .addIcon {
      display: block;
    }
    .removeIcon {
      display: none;
    }
    &:not(.collapsed) {
      .addIcon {
        display: none;
      }
      .removeIcon {
        display: block;
      }
    }
  }
}

.card {
  &__bg--cus {
    background-color: $black;
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    transition: all 1s;
    &:hover {
      background-color: rgb(0, 0, 0, 0.5);
    }
  }
  &--size--cus {
    height: 100%;
    min-height: 352px;
    @include media-breakpoint-up(lg) {
      height: 100%;
      max-height: 416px;
    }
  }
}

.swiper {
  overflow: initial;
  &--NavigaionBox {
    height: 351px;
    @include media-breakpoint-up(md) {
      height: 560px;
    }
  }
  &-scrollbar-drag {
    background-color: #fff;
  }
  &-scrollbar {
    background-color: rgba(255, 255, 255, 0.2);
    height: 4px;
  }
  &-button-next,
  &-button-prev {
    color: #fff;
    position: initial;
    margin-top: 0;
    width: auto;
    height: auto;
    &::after {
      content: "";
    }
  }
}

.logo--animation {
  animation-name: logo-rotate;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

@keyframes logo-rotate {
  0% {
    rotate: 0;
  }
  100% {
    rotate: 360deg;
  }
}

.role-card {
  &--square {
    width: 100%;
    min-height: 351px;
    min-width: 351px;
  }
  &--lg--rectangle {
    @include media-breakpoint-up(lg) {
      max-height: 676px;
    }
  }
}
