<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <title>ALPHABOX+</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main>
      <!-- contact form -->
      <div class="bg-tertiary py-23">
       <div class="container">
        <div class="row">
          <div class="col-12 col-lg-5 text-light d-flex flex-column mb-6 mb-lg-0">
            <h3 class="h3 fw-bold letter-spacing--4  mb-3 mb-lg-5">聯絡我們</h3>
            <div class="mb-9 mb-lg-15 d-inline-flex">
              <div
                class="rounded-circle bg-light me-2"
                style="width: 12px; height: 12px"
              ></div>
              <div
                class="rounded-pill bg-light"
                style="width: 124px; height: 12px"
              ></div>
            </div>
            <p class="fw-bold">
              讓科技成為您的最佳夥伴<br />立即體驗神奇功能並享限時優惠！
            </p>
          </div>
          <div class="col-12 col-lg-7 d-flex flex-column">
            <div class="mb-4">
              <span class="material-symbols-outlined icon--lg text-light"> emergency </span>
            </div>
            <form >
              <div class="form-floating mb-4">
                <input type="email" class="form-control fs-5 rounded-0" id="email" placeholder="EMAIL">
                <label for="email" class="mb-2">EMAIL</label>
              </div>
              <div class="form-floating">
                <textarea class="form-control fs-5 rounded-0" placeholder="COMMENTS" id="mes" style="height: 120px"></textarea>
                <label for="mes" class="mb-2">Comments</label>
              </div>
            </form>
          </div>
        </div>
       </div>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
